<div class="menu-content">
      <nav class="menu-nav">
        <a href="{% url 'books:home' %}">Home</a>
  
        {% if user.is_authenticated %}
          <a href="{% url 'authors:dashboard_book_new' %}">Compartilhar novo livro</a>
          <a href="{% url 'authors:dashboard' %}">Dashboard</a>
          <a href="{% url 'authors:logout' %}">Sair</a>
        {% else %}
          <a href="{% url 'authors:login' %}">Login</a>
          <a href="{% url 'authors:register' %}">Cadastrar</a>
      {% endif %}
      </nav>
    </div>
  </div>
