{% extends 'global/base.html' %}

{% block title %}Dashboard ({{ user }}) | {% endblock title %}

{% block content %}
  <div class="main-content center container">
    <h2>Dashboard ({{ user }})</h2>
    
    {% include 'authors/partials/login_message.html' %}
    {% include 'global/partials/messages.html' %}

    <div class="authors-dashboard-container">
      <br>
      <h3>Os livros abaixo foram enviados para análise do administrador do aplicação e serão
        publicados em até 24 horas:
      </h3>

      <ul>
        {% for book in books %}
          <li>
            <a href="{% url 'authors:dashboard_book_edit' book.id %}">{{ book.TITULO }}</a>
           
            <form 
            class="inline-form form-delete" 
            action="{% url 'authors:dashboard_book_delete' book.id %}" 
            method='POST'
            >
              {% csrf_token %}
              <button class="plaintext-button" type="submit">❌</button>
            </form>

          </li>
        {% empty %}
          <li>
            <p>Você não tem nenhum livro compartilhado.</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>



  {% endblock content %}
