{% include 'books/partials/head.html' %}

    <body>

        {% include 'books/partials/header.html' %}
        {% include 'books/partials/search.html' %}

        <main class="main-content-container">

            <div class="main-content main-content-list container">   
                <div class="book book-list-item">
                    <div class="book-cover">
                        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Imagem Temporária">
                    </div>
                    <div class="book-title-container">
                        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
                    </div>
    
                    <div class="book-author">
                        <span class="book-author-item">
                            <i class="fas fa-user"></i>
                            Usuário
                        </span>
                        <span class="book-author-item">
                            <i class="fas fa-calendar-alt"></i>
                            16/10/2021 às 11:21
                        </span>
                        <span class="book-author-item">
                            <a href="/books/category/cafe-da-manha/">
                                <i class="fas fa-layer-group"></i>
                                <span>Categoria</span>
                            </a>
                        </span>
                    </div>
    
                    <div class="book-content">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni fugiat commodi ullam quas modi.
                            Ea cumque labore veniam, sequi corrupti quas beatae fuga alias quae, vero dicta accusamus
                            aliquam in!</p>
                    </div>
                </div> 
            </div>

        </main>

    </body>

</html>
