{% include 'books/partials/head.html' %}

    <body>
        {% include 'books/partials/header.html' %}
        {% include 'books/partials/search.html' %}

        <main class="main-content-container">
            <div class="main-content main-content-list container">   
                {% include 'books/partials/book.html' %}
                {% include 'books/partials/book.html' %}
                {% include 'books/partials/book.html' %}
                {% include 'books/partials/book.html' %}
                {% include 'books/partials/book.html' %}
                {% include 'books/partials/book.html' %}
                               
            </div>
        </main>

        {% include 'books/partials/footer.html' %}
    </body>
    
</html>
