{% extends 'global/base.html' %}

{% block title %}Home | {% endblock title %}

{% block content %}
<div class="main-content main-content-list container">
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
    {% include 'books/partials/book.html' %}
</div>
{% endblock content %}
